<%- include ("partials/header") -%> <%- include ("partials/navbar") -%>

<div class="container">
  <h2><%=title%></h2>
  <div class="container-a">
    <div>
      <p style="text-align: justify"><%=content%></p>
      <img
        class="landing-img mt-3"
        src="data:image/<%=image.img1.contentType%>;base64,<%=image.img1.data.toString('base64')%>"
      />
    </div>
  </div>
  <div class="mt-3">
    <a href="/profile/<%=owner%>"><%=owner %></a>
    <p><%=time%> <%=date%></p>
  </div>
</div>
