<%- include ("partials/header") -%> <%- include ("partials/navbar") -%>
<div class="container my-5">
  <h2><%=title%></h2>
  <p>Category: <%=category%></p>
  <div class="container-a">
    <div>
      <p style="text-align: justify"><%=content%></p>

      <img
        class="article-img mt-3"
        src="data:image/<%=image.img1.contentType%>;base64,<%=image.img1.data.toString('base64')%>"
      />
    </div>
  </div>
  <div class="mt-5">
    <% if (image1==null) { -%>
    <img class="owner-img" src="/LoginImage.png" />
    <% } else { -%>
    <img
      class="owner-img"
      src="data:image1/<%=image1.img.contentType%>;base64,
        <%=image1.img.data.toString('base64')%>"
    />
    <% } -%>
    <a href="/profile/<%=owner%>"><%=owner %></a>
    <p><%=time%> <%=date%></p>
  </div>
</div>
