<%- include ("partials/header") -%>
<%- include ("partials/navbar") -%>

<div class="article">
    <div class="article-heading">
        <h2><%=title%></h2>
    </div>
    <div class="article-content">
        <p style="margin-bottom:5% ;"><%=content%></p>
        <p>Uploaded By: <%=owner %></p>
    </div>
</div>
<%- include ("partials/footer") -%>