<%- include ("partials/header") -%> <%- include ("partials/navbar-outside") -%>
<div class="container">
  <h1 class="landing-heading">Welcome To Lost and Found!</h1>
  <div>
    <img class="landing-img" src="/LoginImage.png" alt="LoginImage" />
  </div>
  <form action="/Signup" method="get">
    <input type="hidden" name="val" value="Login" />
    <button class="btn mb-4">Login</button>
  </form>
  <form action="/Signup" method="get">
    <input type="hidden" name="val" value="Register" />
    <button class="btn">Register</button>
  </form>
</div>
<%- include ("partials/footer") -%>

<!-- <%- include ("partials/header") -%>
<div class="landing" style="margin-right: 1.5%">
  <h1 class="Heading">Welcome To Lost and Found!</h1>
  <img
    class="login-img"
    style="height: 20%; width: 20%"
    src="/LoginImage.png"
    alt="LoginImage"
  />
  <form action="/Signup" method="get" class="form1" style="margin-right: 10%">
    <input type="hidden" name="val" value="Login" />
    <button style="width: 200%; padding: 3% 3%" class="tag btn">Login</button>
  </form>
  <form action="/Signup" method="get" class="form2">
    <input type="hidden" name="val" value="Register" />
    <button style="width: 150%; padding: 3% 3%" class="tag btn">
      Register
    </button>
  </form>
</div>
<%- include ("partials/footer") -%> -->
