<%- include("partials/header") -%> <%- include ("partials/navbar") -%>
<div class="container-m">
  <h2><%=Heading%> Entries</h2>
  <div class="entries">
    <% items.forEach(function(element){ %>
    <div class="entry my-2">
      <a href="/article/<%=element._id%>"
        ><p style="text-align: left"><%= element.title%></p></a
      >
      <p class="ms-auto" style="text-align: right">
        <%= element.date %> <%= element.time %>
      </p>
      <br />
    </div>
    <% }) %>
  </div>
</div>
