<%- include("partials/header") -%> <%- include ("partials/navbar") -%>

<div class="item">
  <h2 style="text-align: center"><%=Heading%> Entries</h2>
  <% items.forEach(function(element){ %>
  <div class="item-inside">
    <% if (element.title.length > 12) { %>
    <a href="/article/<%=element._id%>"
      ><h2 class="item-title">
        <%= element.title.substring(0,10) + " ..." %>
      </h2></a
    >
    <% }else { %>
    <a href="/article/<%=element._id%>"
      ><h2 class="item-title"><%= element.title%></h2></a
    >
    <% } %>
    <p class="item-date"><%= element.date %> <%= element.time %></p>
    <br />
  </div>
  <% }) %>
</div>
