<%- include("partials/header") -%>
<%- include ("partials/navbar") -%>

<div class="item">
    <% items.forEach(function(element){ %>
        <div class="item-inside">
            <% if (element.title.length > 15) { %>
            <a href="/article/<%=element._id%>"><h2 class="item-title"><%= element.title.substring(0,12) + " ..." %></h2></a>
        <% }else { %>
            <a href="/article/<%=element._id%>"><h2 class="item-title"><%= element.title%></h2></a>
        <% } %>
            <p class="item-date"><%= element.date %> <%= element.time %> </p> <br>   
        </div>
    <% }) %>
</div>
<%- include("partials/footer") -%>