<%- include ("partials/header") -%> <%- include ("partials/navbar") -%>
<div>
  <div class="">
    <%if(image!==null){%>
    <img
      class="owner-img"
      src="data:image/<%=image.img.contentType%>;base64,
          <%=image.img.data.toString('base64')%>"
    />
    <%}%> <%if(image===null){%>
    <img class="owner-img" src="/LoginImage.png" />
    <%}%>
    <h1><a href="/profile/<%=receiver%>"> <%=receiver%></a></h1>
  </div>
  <div class="contain">
    <% msgs.forEach(function(msg){ if(msg.sender!==receiver){%>
    <div class="sms right">
      <p class="part-1 part-1-sender"><%=msg.sender%></p>
      <p class="part-1-sender"><%=msg.message%></p>
      <p class="part-3 part-1-sender"><%=msg.date%>&ensp;<%=msg.time%></p>
    </div>
    <%}else{%>
    <div class="sms left">
      <p class="part-1 part-1-receiver"><%=msg.sender%></p>
      <p class="part-1-receiver"><%=msg.message%></p>
      <p class="part-3 part-1-receiver"><%=msg.date%>&ensp;<%=msg.time%></p>
    </div>
    <%} })%>
  </div>
  <div class="send">
    <form action="/message/<%=receiver%>" id="send-container" method="post">
      <input
        type="text"
        name="message"
        id="msgInp"
        placeholder="Type your message"
        autocomplete="off"
        value=""
        required
      />
      <button
        class="btn button"
        type="submit"
        id="textsend"
        onkeyup="success()"
      >
        <i class="fa fa-send fa-lg"></i>
      </button>
    </form>
  </div>
</div>
<script>
  function success() {
    if (document.getElementById("textsend").value === "") {
      document.getElementById("button").disabled = true;
    } else {
      document.getElementById("button").disabled = false;
    }
  }
</script>
