<%- include("partials/header") -%> <%- include ("partials/navbar") -%>
<div class="container-m">
  <h2>Your Entries</h2>
  <div class="entries">
    <% items.forEach(function(element){ %>
    <div class="entry my-2">
      <form class="delete-btn" action="/delete" method="post">
        <button class="btn" type="submit"><i class="fa fa-remove"></i></button>
        <input type="hidden" value="<%=element._id%>" name="elementID" />
        <input type="hidden" value="<%=element.type%>" name="elementType" />
      </form>
      <a href="/article/<%=element._id%>"
        ><p style="text-align: left"><%= element.title%></p></a
      >
      <p class="ms-auto" style="text-align: right">
        <%= element.date %> <%= element.time %>
      </p>

      <br />
    </div>
    <% }) %>
  </div>
</div>
