<%- include ("partials/header") -%> <%- include ("partials/navbar") -%>
<div class="container">
  <div>
    <%if(image!==null){%>
    <img
      class="profile-img"
      src="data:image/<%=image.img.contentType%>;base64,
      <%=image.img.data.toString('base64')%>"
    />
    <%}%> <%if(image===null){%>
    <img class="profile-img" src="/LoginImage.png" />
    <%}%>
  </div>
  <h1><%=username %></h1>
  <h3>Email-ID: <%=email %></h3>
  <h3>Lost Entries made: <%=itemL %></h3>
  <h3>Found Entries made: <%=itemF %></h3>
  <%if(email===sessionEmail){%>
  <div class="container-p">
    <form action="/changepic" method="POST" enctype="multipart/form-data">
      <%if(image===null){%>
      <input
        type="file"
        id="image"
        name="image"
        value=""
        accept=".jpeg ,.jpg ,.png"
        class="form-control my-1 input"
        id="formFile"
      />
      <button class="btn button" type="submit">Change Profile Picture</button>
      <%}else{%>
    </form>
    <form action="/deletepic" method="POST">
      <button class="btn" type="submit">Remove Profile Picture</button>
    </form>
  </div>
  <%}%> <%}%> <%if(email!==sessionEmail){%>
  <a
    class="nav-link active mt-2"
    aria-current="page"
    href="/message/<%=username%>"
    >Message <i class="fa fa-send"></i
  ></a>
  <%}%>
</div>
<%if(email!==sessionEmail){%>
<div class="container-m">
  <h3>Posts:</h3>
  <div class="entries">
    <% items.forEach(function(element){ %>
    <div class="entry my-2">
      <a href="/article/<%=element._id%>"
        ><p style="text-align: left"><%= element.title%></p></a
      >
      <p class="ms-auto" style="text-align: right">
        <%= element.date %> <%= element.time %>
      </p>
      <br />
    </div>
    <% }) %>
  </div>
</div>
<%}%>
<script>
  let input = document.querySelector(".input");
  let button = document.querySelector(".button");
  button.disabled = true;
  input.addEventListener("change", stateHandle);
  function stateHandle() {
    if (document.querySelector(".input").value === "") {
      button.disabled = true;
    } else {
      const fileSize = input.files.item(0).size;
      const fileMb = fileSize / 1024 ** 2;
      if (fileMb >= 1.01) {
        alert("file size less than 1");
        button.disabled = true;
      } else {
        button.disabled = false;
      }
    }
  }
</script>
