<%- include ("partials/header") -%> <%- include ("partials/navbar-outside") -%>
<div class="container">
  <h1 class="Heading"><%= Heading %></h1>
  <div>
    <form action="/Signup" method="post">
      <% if(Heading === "Register"){ %>
      <input
        name="user"
        class="input-class my-2"
        type="text"
        placeholder="Username"
        autocomplete="off"
        required
      />
      <br />
      <%}%>
      <input
        name="email"
        class="input-class my-2"
        type="email"
        placeholder="Email"
        autocomplete="off"
        autocapitalize="off"
        required
      />
      <br />
      <input
        name="password"
        class="input-class my-2"
        type="password"
        placeholder="Password"
        autocomplete="off"
        required
      />
      <br />
      <%if(Heading === "Register"){%>
      <input name="type" type="hidden" value="Register" />
      <%}else{%>
      <input name="type" type="hidden" value="Login" />
      <%}%>
      <button class="btn mb-3" type="submit"><%= Heading %></button>
    </form>
  </div>
  <% if(Heading === "Login"){ %>
  <div>
    <form action="/Signup" method="get">
      <p>Don't have an account?</p>
      <input type="hidden" name="val" value="Register" />
      <button class="btn">Register</button>
    </form>
  </div>
  <%}%> <% if(Heading === "Register"){ %>
  <div class="form">
    <form action="/Signup" method="get">
      <p>Already have an account?</p>
      <input type="hidden" name="val" value="Login" />
      <button class="btn">Login</button>
    </form>
  </div>
  <%}%>
</div>
<%- include ("partials/footer") -%>
<!-- pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}" title="Must contain at least one  number and one uppercase and lowercase letter, and at least 5 or more characters" -->
